* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
    background-image: linear-gradient(to bottom,  #d86e07 ,  #ad5806,   #824204,  #562c03
    , #2b1601, #000000);
    background-attachment: fixed;
    background-image: url('./assets/img/fundo.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    z-index: -1; 
    position: relative;

}
body::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: blur(8px); 
    z-index: -1; 
}


.profile-picture, .title, .description, .social-media .rodape {
    position: relative;
    text-align: center;
}


.profile-picture img {
    width: 25vh;
    height: 25vh;
    margin: 1vh auto;
    border-radius: 50%;
}

.title {
    margin: 2vh auto;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: white;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #d86e07 0%,
    #e59d53 29%,
    #f2cb9f 67%,
    #fffaeb 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.rodape {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.description p {
    margin: 3vh auto;
    width: 80vh;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.social-media .button {
    display: flex;
    justify-content: center;
    width: 50vh;
    margin: 2vh auto 0 auto;
    border-radius: 1vh;
    
}

.social-media .button a {
    display: inline-block;
    width: 45vh;
    height: 50px;
    line-height: 50px;
    margin: 2px;
    text-decoration: none;
    color: #e99825;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.15s;
    font-family: "Poppins", sans-serif;
}

.button a i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.button {
    border: 1px solid #cd6e12;
    box-shadow: 5px 3px 1px #cd6e12;
    background-color: white;
    cursor: pointer;
    
}
.button:hover {
    transform: translateY(-4px);
    transition-duration: 0.3s;
}

@media only screen and (max-width: 768px) {
    .description p {
        width: 80%;
        margin: 2vh auto;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .social-media .button {
        width: 70%; 
        margin: 1vh auto; 
    }

    .social-media .button a {
        width: 100%;
        height: 45px; 
        font-size: 14px; 
    }

    .profile-picture img {
        width: 20vh;
        height: 20vh;
        margin: 2vh auto;
        border-radius: 50%;
    }
    .button a:hover {
        background-color: transparent;
        cursor: default;
    }
    .animate-charcter{
        font-size: 25px;
    }
}